div#container {
    min-height: 600px;
    margin: 0 auto 0 auto;
    font-family: Arial, Helvetica, sans-serif; 

    > * {
        margin: 5px 10px 20px;

            > img {
                width: 100%;
            }
    }

    section.content {
        background: url(files/uofu_medallion_rt.gif) bottom right no-repeat;
        div.nav {
            text-align: right;
            padding-right: 15px;
            font-size: 15px;

            a {
                color: black;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                margin: 0 20px 0 0;
            }

            span:after {
                content: "|";
                margin: 0 5px;
            }

            &.bottom-nav {
                a {
                    text-transform: lowercase;
                    font-size: 11px;
                }
            }
        }


        div.brown-box {
            background-color: #bec4a1;
            border-radius: 15px;
            border: 1px solid black;
            margin: 15px 10px 70px;
            padding: 20px 20px 100px 20px;
            min-height: 500px;
            position: relative;

            nav.left-side {
                float: left;
                width: 25%;

                a {
                    border-bottom: 1px solid black;
                    display: block;
                    color: black;
                    font-size: 15px;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 20px 0 15px 20px;
                    margin: 0 0 0 70px;

                    &:hover {
                        background-color: saddlebrown;
                        color: white;
                    }
                }
            }

            article {
                float: right;
                background-color: white;
                padding: 10px;
                width: 60%;

                > img {
                    width: 100%;
                }

                h2 {
                    color: #787c34;
                    border-bottom: 2px dashed red;
                    text-transform: uppercase;
                    font-weight: normal;
                }

                p {
                    font-size: 17px;
                    span {
                        font-weight: bold;
                        font-size: 110%;
                    }

                    &.learn-more { 
                        text-align: right;

                        a {
                            color: red;
                            text-decoration: none;
                            text-transform: uppercase;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            div.clear-float {
                clear: both;
            }

            nav.login {
                position: absolute;
                bottom: 0;
                left: 20px;
                margin: 0 0 70px 30px;

                img {
                    display: block;
                    margin: 10px 0 0;
                    width: 180%;
                }
            }
        }
    }

    footer {
        background-color: #787c34;
        color: white;
        font-size: 10px;
        text-align: center;
        padding: 8px;
    }

}